
/* Containers */


#containerAll{
    position: absolute;
    z-index: 1;
    top: 13%;
    width: 100%;
    background-color: black;
    height: 87vh;
    max-height: 100vh;
}

#itemContainer{
    float: left;
    color: white;
    width: 70%;
    height: fit-content;
    height: 100%;
    max-height: 90vh;
    overflow-y: scroll;
}
#itemContainer::-webkit-scrollbar{
    display: none;
}

#totalDisplay{
    float: right;
    border-left: 1px solid;
    width: 30%;
    color: white;
    height: 85vh;
    max-height: 100vh;
}
/* Container Ends */


/* Cart Display Syles and Containers */
#itemContainer h1{
    text-align: center;
    color: rgb(93, 78, 182);
    margin: 2rem;
    font-weight: 700;
}
#cartContainer{
    display: flex;
    /* justify-content:start; */
    margin: 4vh 10vh;
    border: 1px solid;
    border-radius: 10px;
    padding: 1.5vh;
}
.cartitemImg{
    text-align: center;
    flex: 45%;
}
.cartitemImg img{
    width: 80%;
    margin: auto;
    min-width: 15rem;
    height: 15vh;
    border-radius: 1.5vh;
}
.cartitemImg span{
    padding: 0.2rem 1rem;
    font-size: 3vh;
    margin: 1vh 0;
    font-weight: 700;
    cursor: pointer;
}
.cartitemImg input{
    text-align: center;
    width: 5vh;
    margin: 1vh;
    font-weight: 500;
    font-size: 3vh;
}
.plus{
    background-color: rgb(104, 182, 104);
}
.minus{
    background-color: rgb(196, 87, 87);
}
#itemDetails{
    margin-left: 5vh;
    width: 100%;
    position: relative;
}
#itemDetails h3{
    font-size: 5vh;
    color: salmon;
}
#itemDetails h5{
    font-size: 3.5vh;
    color: green;
}
#itemDetails p{
    font-size: 2.5vh;
}
#itemDetails .extra{
    position: absolute;
    bottom: 0;
    right: 1vh;
    cursor: pointer;
    text-align: center;
    padding: .8vh;
    background-color: tomato;
    border-radius: 1.5vh;
}
.extra h6{
    font-size: 3vh;
}
#itemDetails .extra:hover{
    background-color: rgb(93, 78, 182);
    color: white;
}
/* Cart Details ends */

/* Cart Checkout Styles */
#totalDisplay h1{
    text-align: center;
    color: rgb(93, 78, 182);
    margin: 4vh;
    font-weight: 700;
    margin-bottom: 8vh;
}
#totalDisplay #empty{
    background-color: salmon;
    font-size: 4vh;
    font-weight: 600;
    border-radius: 10px;
    width: 60%;
    margin: 1% 20%;
    padding: .5rem;
}
#totalDisplay #empty:hover{
background-color: red;
}
 #placeOrder{
    background-color: salmon;
    font-size: 4vh;
    font-weight: 600;
    border-radius: 10px;
    width: 60%;
    margin: 10% 20%;
    padding: .5rem;
}
#placeOrder:hover{
    background-color:green ;
}

/* Checkout styles */

#checkoutContainer{
    left: 0;
    right: 0;
    min-height: 88vh;
    position: absolute;
    top: 12vh;
    background-image: url("https://www.psdtemplatesblog.com/wp-content/uploads/2015/07/Shopify-Checkout.gif");
    background-position: top;
    background-repeat: no-repeat;
}  

#shopMore:hover{
    color: black !important;
    background-color: tomato !important;
}